<%- include('./partials/navbar') %>


<section id="smallMainHero">
  <nav class="d-none d-md-block p-2" id="largerNav">
    <div class="row align-items-center">
      <div class="col-3">
        <img src="publicAssets/img/path-logo.png" alt="" class="img-fluid" style="width: 100px;">
      </div>
      <div class="col-6 text-center">
        <a href="/" class="px-1 mx-2">
          <small>
            Home
          </small>
        </a>
        <a href="/international" class="px-1 mx-2">
          <small>
            International
          </small>
        </a>
        <a href="/domestic" class="px-1 mx-2">
          <small>
            Domestic
          </small>
        </a>
        <a href="/blogs" class="px-1 mx-2">
          <small>
            Blogs
          </small>
        </a>
        <a href="/about" class="px-1 mx-2">
          <small>
            About
          </small>
        </a>
      </div>
      <div class="col-3 text-end">
        <a href="/contact">
          <button class="cssbuttons-io-button">
            <span>Contact Us</span>
          </button>
        </a>
      </div>
    </div>
  </nav>

  <header class="d-block d-md-none" id="smallNav">

    <div class="container-fluid p-3">
      <div class="row align-items-center">
        <div class="col-6">
          <img src="publicAssets/img/path-logo.png" alt="" class="img-fluid" style="width: 80px;">
        </div>
        <div class="col-6 text-end">
          <h4 style="cursor:pointer" class="cfont text-white mb-0" onclick="openNav()">
            MENU
          </h4>
        </div>
      </div>
    </div>

    <div id="mySidenav" class="sidenav">

      <!-- <span >
        <i class="fa-solid fa-xmark"></i>
      </span> -->

      <div class="h-25 p-4 d-flex align-items-center justify-content-center" style="position: relative;">

        <div class="text-center">
          <img src="publicAssets/img/path-logo.png" alt="" class="img-fluid" style="width: 80px;">
          <h5 class="cfont">
            Pathik Your Own Trip
          </h5>
        </div>


        <div style="position: absolute; top: 20px; right: 30px;" onclick="closeNav()">
          <i class="fa-solid fa-xmark fs-3"></i>
        </div>

      </div>
      <div class="h-50 p-4">
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/">
            Home
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/international">
            International
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/domestic">
            Domestic
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/blogs">
            Blogs
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/about">
            About
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/contact">
            Contact Us
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
      </div>
      <div class="h-25 p-4 d-flex align-items-end justify-content-center">
        <section>
          <div class="pb-3">
            <i class="fa-solid fa-phone pe-1"></i>
            <a href="" class="p-0">
              +92 54343 84374
            </a>
          </div>
          <div class="pb-3">
            <i class="fa-regular fa-envelope pe-1"></i>
            <a href="" class="p-0">
              info@pathikyourowntrip.com
            </a>
          </div>
          <div class="pb-3">
            <a href="" class="pe-3 py-2 ps-0">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="pe-3 py-2 ps-0">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="pe-3 py-2 ps-0">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </section>
      </div>
    </div>
  </header>


  <div class="container h-100">
    <div class="row h-100 align-items-end pb-5">
      <div class="col-12 text-center text-md-start">
        <h1 class="cfont text-white">
          Best Packages of <%= location %>
        </h1>
        <h6 class="text-white">
          By Pathik Your Own Trip
        </h6>
      </div>
    </div>
  </div>


</section>



<section class="my-5">
  <div class="container-fluid px-md-5">
    <div class="row">
      <div class="col-12 mb-5 text-center">
        <h4 class="cfont1 mb-0 greenTxt">
          Check out our
        </h4>
        <h2 class="cfont">
          <%= location %> Packages
        </h2>
        <p>
          <small>
            Explore our top destinations voted by more than 100,000+ <br class="d-none d-md-block"> customers around the world.
          </small>
        </p>
      </div>


      <%  packagesData.forEach((value,index)=>{  %>

      <div class="col-md-3 col-6 p-md-4 singleCategoryPack">
        <div class="bg-white lightShadow border rounded-4 overflow-hidden">
          <a href="/category/<%=value.packageLocation%>/<%=value.packageURL%>" class="link-body-emphasis text-decoration-none">
            <div class="" style="position: relative;">
              <img src="https://ld-wp73.template-help.com/wordpress/prod_19731/v4/wp-content/uploads/2018/07/image-portfolio-3.jpg" class="img-fluid" alt="">
              <div class="bg-white p-2 rounded-3" style="position: absolute; right: 10px; top: 10px;">
                <small class="">
                  ₹
                  <%=value.packagePrice%>/-
                </small>
              </div>
            </div>
            <div class="p-2">
              <div class="">
                <div class="p-2 mb-3 border-bottom">
                  <div class="">
                    <div>
                      <small>
                        <i class="fa-solid fa-location-arrow greenTxt"></i>
                      </small> &nbsp;
                      <small>
                        <%=value.packageLocation%>
                      </small>
                    </div>
                    <div>
                      <small>
                        <i class="fa-solid fa-clock-rotate-left greenTxt"></i>
                        &nbsp;
                        <small>
                          <%=value.packageDuration%>
                        </small>
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="px-1">
                <p>
                  <small>
                    <%=value.packageTitle%>
                  </small>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <% }) %>


    </div>
  </div>
</section>


<!-- International and domestic -->
<section class="mb-5">
  <div class="container-fluid px-md-5">
    <div class="row px-md-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="" style="position: relative;">
          <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/h31.jpg" class="img-fluid" alt="">
          <div class="h-100 h-100 d-flex align-items-center" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
            <div class="p-md-5 p-4">
              <div class="mb-md-4">
                <small class="text-white">
                  Enjoy these cool staycation promotions in Singapore
                </small>
              </div>
              <h2 class="cfont text-white mb-md-5 my-3">
                Best International <br>
                Deals
              </h2>
              <div>
                <a href="/International">
                  <button class="cssbuttons-io-white">
                    <span>View Packages</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="" style="position: relative;">
          <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/h32.jpg" class="img-fluid" alt="">
          <div class="h-100 h-100 d-flex align-items-center" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
            <div class="p-md-5 p-4">
              <div class="mb-md-4">
                <small class="text-white">
                  Enjoy these cool staycation promotions in Singapore
                </small>
              </div>
              <h2 class="cfont text-white mb-md-5 my-3">
                Best Domestic <br>
                Deals
              </h2>
              <div>
                <a href="/Domestic">
                  <button class="cssbuttons-io-white">
                    <span>View Packages</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>